
:root {

/* Colors: */
--unnamed-color-bbbbbb: #BBBBBB;

/* Font/text values */
--unnamed-font-family-heebo: Heebo;
--unnamed-font-family-barlow: Barlow;
--unnamed-font-family-icofont: IcoFont;
--unnamed-font-style-normal: normal;
--unnamed-font-style-italic: italic;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-800: 800px;
--unnamed-font-weight-medium: medium;
--unnamed-font-weight-bold: bold;
--unnamed-font-weight-normal: normal;
--unnamed-font-size-20: 20px;
--unnamed-font-size-22: 22px;
--unnamed-font-size-23: 23px;
--unnamed-font-size-25: 25px;
--unnamed-font-size-93: 93px;
--unnamed-font-size-36-687381744384766: 36.687381744384766px;
--unnamed-character-spacing-0: 0px;
--unnamed-character-spacing-0-44: 0.44px;
--unnamed-character-spacing-2-2: 2.2px;
--unnamed-line-spacing-32: 32px;
--unnamed-line-spacing-35: 35px;
--unnamed-line-spacing-96-99999237060547: 96.99999237060547px;
--unnamed-line-spacing-15-145956993103027: 15.145956993103027px;
}

/* Character Styles */
.unnamed-character-style-1 {
font-family: var(--unnamed-font-family-barlow);
font-style: var(--unnamed-font-style-italic);
font-weight: var(--unnamed-font-weight-800);
font-size: var(--unnamed-font-size-36-687381744384766);
line-height: var(--unnamed-line-spacing-15-145956993103027);
letter-spacing: var(--unnamed-character-spacing-2-2);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-2 {
font-family: var(--unnamed-font-family-barlow);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0-44);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-3 {
font-family: var(--unnamed-font-family-icofont);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-22);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-4 {
font-family: var(--unnamed-font-family-barlow);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-23);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-5 {
font-family: var(--unnamed-font-family-barlow);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-93);
line-height: var(--unnamed-line-spacing-96-99999237060547);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-6 {
font-family: var(--unnamed-font-family-heebo);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-medium);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-35);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-7 {
font-family: var(--unnamed-font-family-icofont);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-20);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bbbbbb);
}
.unnamed-character-style-8 {
font-family: var(--unnamed-font-family-barlow);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-32);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-bbbbbb);
}

body {
    margin:0px;
    background: #F2F7FF;
}
.header {
    background-image: url(assets/header.png);
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75%;
    opacity: 1;
    position:relative;
    background-position: center;
}

.header-text {
    left: 40px;
    width: 40%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-93)/97px var(--unnamed-font-family-barlow);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal 800 50px Barlow Condensed;
    letter-spacing: 0px;
    color: #F9F9F9;
    opacity: 1;
    position: absolute;
    bottom: 35px;
    left: 0;
    padding-left: 10px;
}

.subheader-text {
    left: 41px;
    width: 40%;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-25)/var(--unnamed-line-spacing-35) var(--unnamed-font-family-heebo);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: left;
    font: normal normal bold 13px Heebo;
    letter-spacing: 0px;
    color: #F9F9F9;
    opacity: 1;
    position: absolute;
    bottom: 10;
    left: 0;
    padding-left: 10px;
}

.box-1 {
    width: 100%;
    height: 112px;
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal bold 20px Barlow Condensed;
    letter-spacing: 0px;
    color: #011B3D;
    opacity: 1;
    background: #F2F7FF;
}
.box-2 {
    display: flex;
}
.box-2 .sub-box2 {
    width:50%;
}
.sub-box2-left {
    width:calc(50% - 80px);
    min-width:calc(50% - 80px);
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    background:url(assets/col1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.sub-box2-right {
    width:calc(50% - 80px);
    max-width:calc(50% - 80px);
    margin-left: 20px;
    margin-right: 60px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    .box-2 .sub-box2-right{
        width:100%;
    }
    .sub-box2-left {
        display:none;
    }
    .sub-box2-right {
        margin-left:20px;
        margin-right:20px;
        max-width: 100%;
    }
}
.heading {
    font: normal normal bold 26px Barlow Condensed;
    letter-spacing: 0px;
    color: #011B3D;
    opacity: 1;
    margin-bottom:20px;
}
.sub-box2b {
    display:flex;
    margin-bottom:20px;
}
.icon-container {
    width:20%;
    display:flex;
    margin-right:10px;
}
.orange-icon {
    background:#F5EAE2;
    border-radius:50%;
    width:75px;
    height:75px;
    justify-content: center;
}
.orange-icon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.sub-box2b-text {
    width:80%;
}
.small-heading {
    text-align: left;
    font: normal normal bold 16px Barlow Condensed;
    letter-spacing: 0px;
    color: #011B3D;
    opacity: 1;
    white-space: pre-line;
}
.sub-box2b-text-text {
    text-align: left;
    font: normal normal normal 10px Heebo;
    letter-spacing: 0px;
    color: #5C5C5C;
    opacity: 1;
}
.box-3 {
    background:#FFFFFF;
    padding-top: 20px;
}
.box {
    background: #F2F7FF;
    margin:10px;
    flex: 30%;
    min-height: 200px;
}
.box .circle {
    border-radius:50%;
    height:100px;
    width:100px;
    background-size: cover;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.boxes {
    display:flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}
.center {
    text-align:center;
}
.box-4 {
    background: linear-gradient(70deg, #BBBBBB 50%, #011B3D 50%);
    display:flex;
    margin-top: 40px;
}
.stripe-left {
    width:33%;
}
.stripe-middle {
    border-radius:50%;
    background: #FF7212;
    opacity: 0.23;
    width:250px;
    height:250px;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}
.stripe-middle-inner {
    border-radius:50%;
    background: #FF7212;
    opacity: 1.0;
    width:33%;
    width:220px;
    height:220px;
    position: absolute;
    left: calc(50% - 135px);
    margin-top: 65px;
    margin-left: auto;
}
.stripe-middle-inner img {
    max-width: 190px;
    margin-left: 16px;
    margin-top: 16px;
}
.stripe-right {
    width: calc(33% - 40px);
    margin: auto;
}
.white-heading {
    color:#FFFFFF;
    font: normal normal bold 26px Barlow Condensed;
    margin-bottom: 20px;
}
.white-subheading {
    color:#B9C7D9;
    font: normal normal normal 16px Heebo;
}

